<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Cedula</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Opciones</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.code_user}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td><div class="card-footer">
          <a [routerLink]="['/','edit', user.id]" class="btn btn-info">Editar</a>
      </div></td>
        <td><button type="button" (click)="deleteUser(user.id)" class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
